*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"new rocker"
}
.Fondo{
    background: rgb(145, 110, 185);
    background-color: rgb(145, 110, 185);
    color: white;
    padding: 20px;
    text-align: center;
}
img{
    width: 90px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
span{
    font-size: 25px;
}

.fb{
    background-color: rgb(78, 83, 175);
    padding: 4px;
    border-radius: 50px;
    color: white;
    
}

.ins{
    background-color: rgb(188, 98, 135);
    padding: 4px;
    border-radius: 50px;
    color: white;
    
}

.tw{
    background-color: rgb(41, 41, 41);
    padding: 4px;
    border-radius: 50px;
    color: white;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    max-width: 100px;
}


.despedida{
    font-size: 30px;
    color: azure;
    font-family: 'New Rocker', 'cursive';
}

.redes {
    margin-top: 10px;
}

.redes span{
    font-size: 20px;
    margin: 0 10px;
}

.secciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.secciones h2{
    font-size: 25px;
}

.secciones a {
    display: block;
    color: rgb(94, 47, 121);
    text-decoration: none;
    margin: 5px 0;
}

.secciones div{
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

div h2{
    color: rgb(21, 20, 20);
    padding: 50px 0;
}
a{
    color: rgb(74, 41, 98);
    text-decoration: none;
    padding: 12px;
}
form{
 display: flex; 
 flex-direction: column;
 gap: 10px;
}
input{
    background: white;
    border: solid 2px white;
    padding: 7px;
}
button{
    padding: 7px;
    background-color: #9d81bc;
    color: rgb(249, 249, 249);
    font-size: 18px;
}
.Derechos{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #77569c;
    color: white;
    flex-direction: column;
}
hr {
    border: 3px solid rgb(83, 212, 238);
    margin: 20px 0;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    
    .redes {
        margin-top: 20px;
    }
    
    .secciones {
        flex-direction: column;
        align-items: center;
    }
}
